  
{% extends 'base.html' %}
{% block body %}
{% load static %}
<section id="feature" class="feature-section">
        <div class="container">
            <div class="row">
                {% for f in feature %}
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="feature">
                        <i class="{{f.icon1}}"></i>
                        <div class="feature-content">
                            <h4>{{f.heading}}</h4>
                            <p>{{f.description}}</p>
                        </div>
                    </div>
                </div><!-- /.col-md-3 -->
                {% endfor %}
                
                
            </div><!-- /.row -->
        
        </div><!-- /.container -->
    </section> 
        <!-- End Feature Section -->
 
<!-- Start Call to Action Section -->
<section class="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{newfeature.description}}</br>{{newfeature.description}}</h1>
                <button type="submit" class="btn btn-primary">Buy This Template</button>
            </div>
        </div>
    </div>
</section>
<!-- End Call to Action Section -->
 <!-- Start Fun Facts Section -->
 <section class="fun-facts">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
                  <div class="counter-item">
                    <i class="fa fa-cloud-upload"></i>
                    <div class="timer" id="item1" data-to="991" data-speed="5000"></div>
                    <h5>Files uploaded</h5>                               
                  </div>
                </div>  
                <div class="col-xs-12 col-sm-6 col-md-3">
                  <div class="counter-item">
                    <i class="fa fa-check"></i>
                    <div class="timer" id="item2" data-to="7394" data-speed="5000"></div>
                    <h5>Projects completed</h5>                               
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                  <div class="counter-item">
                    <i class="fa fa-code"></i>
                    <div class="timer" id="item3" data-to="18745" data-speed="5000"></div>
                    <h5>Lines of code written</h5>                               
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                  <div class="counter-item">
                    <i class="fa fa-male"></i>
                    <div class="timer" id="item4" data-to="8423" data-speed="5000"></div>
                    <h5>Happy clients</h5>                               
                  </div>
                </div>
        </div>
    </div>
</section>

{% endblock body %}


