{% extends 'base.html' %}
{% block body %}
{% load static %}
<section id="latest-news" class="latest-news-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h3>Latest News</h3>
                    <p>Duis aute irure dolor in reprehenderit in voluptate</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="latest-news">
                <div class="col-md-12">
                    <div class="latest-post">
                        <img src="{% static 'images/about-01.jpg' %}" class="img-responsive" alt="">
                        <h4><a href="#">Standard Post with Image</a></h4>
                        <div class="post-details">
                            <span class="date"><strong>31</strong> <br>Dec , 2014</span>
                            
                        </div>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="latest-post">
                        <img src="{% static 'images/about-02.jpg' %}" class="img-responsive" alt="">
                        <h4><a href="#">Standard Post with Image</a></h4>
                        <div class="post-details">
                            <span class="date"><strong>17</strong> <br>Feb , 2014</span>
                            
                        </div>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="latest-post">
                        <img src="{% static 'images/about-03.jpg' %}" class="img-responsive" alt="">
                        <h4><a href="#">Standard Post with Image</a></h4>
                        <div class="post-details">
                            <span class="date"><strong>08</strong> <br>Aug , 2014</span>
                            
                        </div>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="latest-post">
                        <img src="{% static 'images/about-01.jpg' %}" class="img-responsive" alt="">
                        <h4><a href="#">Standard Post with Image</a></h4>
                        <div class="post-details">
                            <span class="date"><strong>08</strong> <br>Aug , 2014</span>
                            
                        </div>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="latest-post">
                        <img src="{% static 'images/about-02.jpg' %}" class="img-responsive" alt="">
                        <h4><a href="#">Standard Post with Image</a></h4>
                        <div class="post-details">
                            <span class="date"><strong>08</strong> <br>Aug , 2014</span>
                            
                        </div>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="latest-post">
                        <img src="{% static 'images/about-03.jpg' %}" class="img-responsive" alt="">
                        <h4><a href="#">Standard Post with Image</a></h4>
                        <div class="post-details">
                            <span class="date"><strong>08</strong> <br>Aug , 2014</span>
                            
                        </div>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}